
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.button {
  border: 3px solid rgba(0, 0, 0, 0.6);
  font-family: sans-serif;  
  background-color: white;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.button:hover {
  background-color: black;
}

.buttonprices {
  color: white;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.buttonprices:hover {
  box-shadow: 0 0 0 3px black;
}

.buttonnav {
  color: white;
  transition-duration: 0.7s;
  border-radius: 25px;
}

.buttonnav:hover {
  color: #2196f3;
  background-color: white;
  border-radius: 25px;
}

.bigtitle {
  font-family: sans-serif;
  font-size: 100px;
}

.gradient-text {
  background-image: linear-gradient(to right, #2196f3, #21cbf3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.subtitle {
  font-size: 50px;
  font-family: sans-serif;
}